* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #eef2f7;
}

section
{
  border: 1px solid black;
  width:90%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}
section div
{
 background-color: black;
 padding: 25px;
 border-radius: 10px;
 color: white;
 box-shadow: 0 4px 10px rgb(218, 211, 211);
}